<p>
  Notícia
</p>
<form #post="ngForm" (ngSubmit)="createPost(post.value)">
  <div class="form-group">
      <label for="titleInput">Título:</label>
      <input type="text" required ngModel name="titleInput" #titleInput="ngModel" [class.is-invalid]="titleInput.touched && titleInput.invalid" class="form-control">
      <p *ngIf="titleInput.touched && !titleInput.valid"><small style="color:red;">*Campo obrigatório</small></p>

      <label for="resumeInput">Resumo:</label>
      <textarea type="text" required ngModel name="resumeInput" #resumeInput="ngModel" [class.is-invalid]="resumeInput.touched && resumeInput.invalid" class="form-control"></textarea>
      <p *ngIf="resumeInput.touched && !resumeInput.valid"><small style="color:red;">*Campo obrigatório</small></p>

      <label for="sourceInput">Fonte:</label>
      <textarea type="text" required ngModel name="sourceInput" #sourceInput="ngModel" [class.is-invalid]="sourceInput.touched && sourceInput.invalid" class="form-control"></textarea>
      <p *ngIf="sourceInput.touched && !sourceInput.valid"><small style="color:red;">*Campo obrigatório</small></p>

      <label for="textInput">Texto:</label>
      <!-- <textarea type="text" required ngModel name="textInput" #textInput="ngModel" [class.is-invalid]="textInput.touched && textInput.invalid" class="form-control"></textarea> -->
      <ejs-richtexteditor type="text" required ngModel name="textInput" #textInput="ngModel" [class.is-invalid]="textInput.touched && textInput.invalid" class="form-control"></ejs-richtexteditor>
      <p *ngIf="textInput.touched && !textInput.valid"><small style="color:red;">*Campo obrigatório</small></p>

      
      <label>Imagem:</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" multiple id="importFile" (change)="onFileChange($event.target.files)">
        <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
      </div>

      <label>Slides:</label>
      <div class="custom-file">
        <input type="file" multiple class="custom-file-input" id="slidesInput" (change)="onSlidesChange($event.target.files)">
        <label class="custom-file-label" #labelSlides for="slidesInput"><i class="fas fa-search"></i>Choose files</label>
      </div>

        <label>Arquivos:</label>
        <div class="custom-file">
            <input type="file" multiple class="custom-file-input" name="filesInput" ngModel>
            <label class="custom-file-label" for="filesInput">Choose file</label>
          </div>
          <p></p>

          <nb-card>
            <nb-card-header>Agendar a postagem para:</nb-card-header>
            <p><small>Deixe em branco para postar imediatamente</small></p>
            <nb-card-body>
              <input nbInput placeholder="Data" [nbDatepicker]="startDatePicker" name="startDatePicker" [formControl]="startDate">
              <nb-datepicker #startDatePicker></nb-datepicker>
            </nb-card-body>
          </nb-card>

          <nb-card>
            <nb-card-header>Encerrar postagem em:</nb-card-header>
            <p><small>Deixe em branco para não encerrar</small></p>
            <nb-card-body>
              <input nbInput placeholder="Data" [nbDatepicker]="endDatePicker" name="endDatePicker" [formControl]="endDate">
              <nb-datepicker #endDatePicker></nb-datepicker>
            </nb-card-body>
          </nb-card>
          <p></p>


          <nb-card>
            <nb-card-header>Onde essa notícia aparecerá?</nb-card-header>
            <nb-card-body>
              <nb-checkbox [(ngModel)]="mainCarrouselCheckbox" name="mainCarrouselCheckbox">Slideshow principal</nb-checkbox>
              <nb-checkbox [(ngModel)]="secondaryCarrouselCheckbox" name="secondaryCarrouselCheckbox">Slideshow secundário</nb-checkbox>
              <nb-checkbox [(ngModel)]="bannerCheckbox" name="bannerCheckbox">Banner</nb-checkbox>
            </nb-card-body>
          </nb-card>
          

         

          <p></p>
        <button class='btn btn-primary' type='submit' [disabled]="post.invalid">Postar notícia</button>
  </div>
</form>