<nb-card>
  <nb-card-header>Editar notícia</nb-card-header>
  <nb-card-body *ngIf="post$ | async as post">
    <div class="form-group row">
      <label for="inputTitle" class="label col-sm-2 form-control-label">Título</label>
      <div class="col-sm-10">
        <input [(ngModel)]="post.title" type="text" nbInput fullWidth id="inputTitle" placeholder="Título">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputExcerpt" class="label col-sm-2 form-control-label">Resumo</label>
      <div class="col-sm-10">
        <input [(ngModel)]="post.excerpt" type="text" nbInput fullWidth id="inputExcerpt" placeholder="Resumo">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputFont" class="label col-sm-2 form-control-label">Fonte</label>
      <div class="col-sm-10">
        <input [(ngModel)]="post.font" type="text" nbInput fullWidth id="inputFont" placeholder="Fonte">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputContent" class="label col-sm-2 form-control-label">Conteúdo</label>
      <div class="col-sm-10">
        <ejs-richtexteditor [(ngModel)]="post.content"></ejs-richtexteditor>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputImage" class="label col-sm-2 form-control-label">Imagem</label>
      <div class="col-sm-10">
        <div *ngIf="!isEditingImage">
          <img [src]="post.mainImageUrl" style="width: 100%">
          <button nbButton status="info" (click)="startEditing()">Editar</button>
        </div>
        <div *ngIf="isEditingImage" class="custom-file">
          <input type="file" class="custom-file-input" multiple id="importFile" (change)="onFileChange($event.target.files)">
          <label class="custom-file-label" #imageInput for="importFile"><i class="fas fa-search"></i> Choose file</label>
          <button nbButton status="danger" (click)="cancelEditing()">Cancelar</button>
        </div>
      </div>
    </div>
        <div class="form-group row">
          <label for="inputFont" class="label col-sm-2 form-control-label">Onde irá aparecer</label>
          <div class="col-sm-10">
            <nb-card>
              <nb-card-body>
                <nb-checkbox [(ngModel)]="post.mainCarrousel" name="mainCarrouselCheckbox">Slideshow principal</nb-checkbox>
                <nb-checkbox [(ngModel)]="post.secondaryCarrousel" name="secondaryCarrouselCheckbox">Slideshow secundário
                </nb-checkbox>
                <nb-checkbox [(ngModel)]="post.banner" name="bannerCheckbox">Banner</nb-checkbox>
                <p *ngIf="carrouselCheckbox">Foi</p>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button nbButton status="success" (click)="update(post)">Salvar</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>