<p>
  Notícia
</p>
<form #post="ngForm" (ngSubmit)="createPost(post.value)">
  <p>Título:</p>
  <input type="text" name="titleInput" ngModel>
  <p>Resumo:</p>
  <textarea type="text" name="resumeInput" ngModel></textarea>
  <p>Fonte:</p>
  <input type="text" name="sourceInput" ngModel>
  <p>Texto:</p>
  <textarea type="text" name="textInput" ngModel></textarea>
  <p>Imagem:</p>
  <input type="file" name="imageInput" ngModel>
  <p>Slides:</p>
  <input type="file" multiple name="slidesInput" ngModel>
  <p>Arquivos:</p>
  <input type="file" multiple name="filesInput" ngModel>
  <p></p>
  <input type='submit' value='Postar notícia'>
</form>


<ul>
  <li class="text" *ngFor="let item of posts">
    {{item.title}}
  </li>
</ul>
<button (click)="previousPage()" [disabled]="!prevKeys?.length"> Previous </button>
<button (click)="nextPage()" [disabled]="!nextKey"> Next </button> <br>

Search:
<input type="text" (input)="titleQuery$.next($event.target.value)" placeholder="Search here">
<ul>
  <li class="text" *ngFor="let item of searchedPosts">
    {{item.title}}
  </li>
</ul>